@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var routeData = this.ViewContext.RouteData;
    var controllerName = routeData.Values["controller"].ToString();
    var actionName = routeData.Values["action"].ToString();
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en" class="root-text-sm">
<head>
    <meta charset="utf-8">
    <title>
        @ViewData["Title"] - Inventory
    </title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    
    
        <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
        <link id="appbundle" rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
        @* <link id="mytheme" rel="stylesheet" media="screen, print" href="#">*@
        <link id="myskin" rel="stylesheet" media="screen, print" href="~/css/skins/skin-master.css">
        <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
        <link rel="mask-icon" href="~/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
        <link rel="stylesheet" media="screen, print" href="~/ar-css/notifications/sweetalert2/sweetalert2.bundle.css">
        <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
    
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <style type="text/css">
        .text-danger ul {
            list-style: none;
        }

        .col-container {
            display: table;
            height: 100vh;
        }
        @@media (max-width: 767.98px){
            .col-container {
                        display: flex;
                        height: 100vh;
                    }
        }
        .col {
            display: table-cell;
            height: 100vh;
        }

        .logo-link {
            display: block;
            margin: 20px auto 10px 0;
        }

            .logo-link img {
                width: 18%;
            }

        .loging-text-01 {
            display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 35px;
            color: #3F51B5;
        }

        .loging-text-02 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #454545;
        }

            .loging-text-02 small {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 23px;
                color: #9096BA;
            }

        .welcome-text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 41px;
            color: #454545;
            text-align: center;
            margin-bottom: 5%;
        }

            .welcome-text span {
                display: block;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #9096BA;
                margin-top: 10px;
            }

            .welcome-text small {
                display: block;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 23px;
                color: #9096BA;
                margin-top: 10px;
                max-width: 76%;
                margin-left: auto;
                margin-right: auto;
            }

        .login-form {
            width: 80%;
            margin: 10% auto;
        }

        .login-btn {
            background: #3F51B5;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
            border-radius: 3px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }

        .forgot-password {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #3F51B5;
            float: right;
            margin-top: -17px;
            position: relative;
        }

        .arabic-lng .forgot-password{
            float: left;
        }
        .login-lable{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #454545;
        }

        .password-icon {
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 18px;
        }

        body.rtls .password-icon {
            right: auto;
            left: 15px;
        }
    </style>
    @*<link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/@(Configuration["AppSettings:COMPANY_INFO:CODE"])/favicon.ico">*@

</head>
<!-- BEGIN Body -->
<body>
    <!-- DOC: script to save and load page settings -->
   
    <div class="flex-1" style="background:#fff">
        @*<div class="p-3">*@
        @RenderBody()
        
    </div>
    @* </div>
    </div>
    </div>*@
    <p id="js-color-profile" class="d-none">
        <span class="color-primary-50"></span>
        <span class="color-primary-100"></span>
        <span class="color-primary-200"></span>
        <span class="color-primary-300"></span>
        <span class="color-primary-400"></span>
        <span class="color-primary-500"></span>
        <span class="color-primary-600"></span>
        <span class="color-primary-700"></span>
        <span class="color-primary-800"></span>
        <span class="color-primary-900"></span>
        <span class="color-info-50"></span>
        <span class="color-info-100"></span>
        <span class="color-info-200"></span>
        <span class="color-info-300"></span>
        <span class="color-info-400"></span>
        <span class="color-info-500"></span>
        <span class="color-info-600"></span>
        <span class="color-info-700"></span>
        <span class="color-info-800"></span>
        <span class="color-info-900"></span>
        <span class="color-danger-50"></span>
        <span class="color-danger-100"></span>
        <span class="color-danger-200"></span>
        <span class="color-danger-300"></span>
        <span class="color-danger-400"></span>
        <span class="color-danger-500"></span>
        <span class="color-danger-600"></span>
        <span class="color-danger-700"></span>
        <span class="color-danger-800"></span>
        <span class="color-danger-900"></span>
        <span class="color-warning-50"></span>
        <span class="color-warning-100"></span>
        <span class="color-warning-200"></span>
        <span class="color-warning-300"></span>
        <span class="color-warning-400"></span>
        <span class="color-warning-500"></span>
        <span class="color-warning-600"></span>
        <span class="color-warning-700"></span>
        <span class="color-warning-800"></span>
        <span class="color-warning-900"></span>
        <span class="color-success-50"></span>
        <span class="color-success-100"></span>
        <span class="color-success-200"></span>
        <span class="color-success-300"></span>
        <span class="color-success-400"></span>
        <span class="color-success-500"></span>
        <span class="color-success-600"></span>
        <span class="color-success-700"></span>
        <span class="color-success-800"></span>
        <span class="color-success-900"></span>
        <span class="color-fusion-50"></span>
        <span class="color-fusion-100"></span>
        <span class="color-fusion-200"></span>
        <span class="color-fusion-300"></span>
        <span class="color-fusion-400"></span>
        <span class="color-fusion-500"></span>
        <span class="color-fusion-600"></span>
        <span class="color-fusion-700"></span>
        <span class="color-fusion-800"></span>
        <span class="color-fusion-900"></span>
    </p>
    <!-- END Color profile -->
    <script src="~/js/vendors.bundle.js"></script>
    <script src="~/js/app.bundle.js"></script>
    @RenderSection("Scripts",false)

</body>
<!-- END Body -->
</html>