@model CreatePurchaseOrderRequest;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    ViewData["Title"] = "CreatePurchaseOrder";
    // var countryList = (IList<CountryResponse>)ViewBag.CountryId;
}
<div class="row">
    <div class="col-lg-12 inline-flex ">
        <div class="page-title">
            <h1 class="title-h1">
                PurchaseOrder
            </h1>

            <ul class="breadcrumb">
                <li>
                    <a asp-action="Index" asp-controller="Home"><span class="mdi mdi-home"></span></a>
                </li>
                <li>
                    <span class="breadcrumb-item " style="float:left !important;"><a asp-action="Index" asp-controller="PurchaseOrder">Purchase Order</a></span><span class="mdi mdi-chevron-right pl-2" style="float:left !important;"></span>
                </li>
                <li>
                    <span class="breadcrumb-item ">Create</span>
                </li>
            </ul>

           
        </div>
        <div class="header-btn-area flex-1 text-right">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="white-box new-form-design">
            <div class="panel-hdr">
                <h2>
                    PurchaseOrder
                </h2>
            </div>
            <div class="panel-container">
                <div class="panel-content">
                    <!-- form start -->
                    <form id="frmCreate" method="post" action="create" autocomplete="off">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Purchase Order Date</label>
                                        @(Html.Kendo().DatePicker()
                                        .Name("PurchaseOrderDate")
                                        .Value(DateTime.UtcNow)
                                        .Format("yyyy-MM-dd")
                                        .DateInput(true)
                                        )
                                        <span asp-validation-for="PurchaseOrderDate" class="text-danger"></span>
                                    </div>
                                </div>
                                
                             </div>
                             
                            <div class="row" style="margin-left:1178px">
                                <td class="col-sm-2 p-sm">
                                    <button class="btn btn-success" id="btnAddNewItem" onclick="addNewItem();" title="AddNewItem">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    @* <span class="btn btn-danger" id="removeItem" hidden onclick="removeItem(this);" title="@ViewsLocalizer["RemoveItem"]">
                                    <i class="fa fa-minus"></i>
                                    </span> *@
                                </td>
                            </div>
                             <div class="row">
                                <div class="col-12 pt-3">
                                    <table style="width:100%" id="tblPurchaseOrder" class="table table-bordered table-hover dataTable dtr-inline">
                                        <thead>
                                            <tr class="bg-primary text-white">
                                                <th class="col-sm-3 p-sm">Item</th>
                                                <th class="col-sm-3 p-sm">Price</th>
                                                <th class="col-sm-3 p-sm">Quantity</th>
                                                <th class="col-sm-3 p-sm">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="NewItems" >
                                            @* <partial name="_PartialItem" model="Model.Items" /> *@
                                           @*  @if (Model.Items is not null)
                                            {
                                                @foreach (var item in Model.Items)
                                                {
                                                    <partial name="_PartialItem" model="item" />
                                                }
                                            } *@
                                           @*  <partial name="_PartialItem" model="new Item()" /> *@
                                        </tbody>
                                    </table>
                                </div>
                             </div>
                            
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" onclick="ValidateAndSubmit();" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-4">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
@section Scripts{
    <script type="text/javascript">
        var usedItems = [];
        var itemId = 0;
        $("#btnAddNewItem").attr("disabled", true)
        $(document).ready(function () {
            debugger
            addNewItem();
            if ($('#tblPurchaseOrder tr').length = 2) { //1st Row

                $("#removeItem").hide();
            }
            else {
                $("#removeItem").show();
            }

            var test = $("#tblPurchaseOrder").html();
            var clone = $($.parseHTML($("#tblPurchaseOrder").html()));

            clone.find('[display]') //Target all disabled descendants
                .removeAttr('display') //Remove disabled

        })



        function addNewItem(currentId) {
            debugger

            //disable previous row when new ro is added

            if ($('#tblPurchaseOrder tr').length > 1) { //after 1st Row

                var currentSelect = $('#tblPurchaseOrder tr')[$('#tblPurchaseOrder tr').length - 1].childNodes[1].childNodes[1];
                $(currentSelect).prop("disabled", true)
            }

            if ($(".purchase-order-item-row").length == 1) { //1st Row
                {
                    debugger
                    var currentId = $('#tblPurchaseOrder tr')[1].childNodes[1].childNodes[1].value;

                    const index = usedItems.indexOf(currentId);
                    if (index == -1) {
                        usedItems.push(currentId);
                        $($('#tblPurchaseOrder tr')[1].childNodes[1].childNodes[1]).prop("disabled", true)
                    }
                    //usedItems.splice(index, 1);
                   // $(Lastref).attr("disabled", true);
                    $(".remove-item").hide();
                }

            }
            if ($(".purchase-order-item-row").length != 0) {
                $("#btnAddNewItem").attr("disabled", true);
            }
            var params = {
                ItemIds: usedItems,
                selectedItem: currentId
            };
            data1 = $('#tblPurchaseOrder tr').find('td:eq(0):input[type="text"]').html();
            var htmlResponse = COMMON.doAjaxPostHTMLResponse('@Url.Action("AddNewItem", controllerName)', params);
            if (htmlResponse !== null && htmlResponse !== undefined && COMMON.is.html(htmlResponse)) {
                htmlResponse = htmlResponse.replace("hidden", "");
                $('#NewItems').append(htmlResponse);
            }
            //////////////
            const index = usedItems.indexOf(currentId);
            if (index == -1 && currentId != undefined) {
                usedItems.push(currentId);
            }

            if ($(".purchase-order-item-row").length == 1 && currentId != undefined) {
                $("#btnAddNewItem").attr("disabled", false);
            }
        }
        
        function removeItem(ths) {
            debugger
            console.log("remove item called")

            var item = {};
            var currentRow = ths.parentElement.parentElement;
            item.ItemId = $(currentRow).find("select#ItemId option:selected").val();
            item.Name = $(currentRow).find("select#ItemId option:selected").attr('data-name');
            item.Price = $(currentRow).find("input#Price").val();
            item.Quantity = $(currentRow).find("input#Quantity").val();
            item.SKU = $(currentRow).find("input#SKU").val();
            item.Weight = $(currentRow).find("input#Weight").val();
            const index = usedItems.indexOf(item.ItemId);
            if (index != -1) {
                usedItems.splice(index, 1);
            }
            var lastId = ($('#tblPurchaseOrder tr')[$('#tblPurchaseOrder tr').length - 1]).childNodes[1].childNodes[1].value;
            var lastRow = $('#tblPurchaseOrder tr')[$('#tblPurchaseOrder tr').length - 1]

            setTimeout(function () {
                if ($(".purchase-order-item-row").length == 1 && item.ItemId == "") {
                    debugger
                    $("#btnAddNewItem").attr("disabled", true)

                }
            }, 500)

            if ($(".purchase-order-item-row").length > 2) {

                var lastRow = $('#tblPurchaseOrder tr')[$('#tblPurchaseOrder tr').length - 1]

                var select = $($('#tblPurchaseOrder tr')[$('#tblPurchaseOrder tr').length - 1]).children('td:first').find('select')
                $(select).append($('<option>', {
                    value: item.ItemId,
                    text: item.Name,
                    'data-price': item.Price,
                    'data-quantity': item.Quantity,
                    'data-sku': item.SKU,
                    'data-weight': item.Weight
                }));

            }

            var currentId = ths.parentElement.parentElement.childNodes[1].childNodes[1].value;
            if (ths.parentElement.parentElement.childNodes[1].childNodes[1].selectedIndex == 0) {
                $("#btnAddNewItem").attr("disabled", false)
            }
            else {

                $(".purchase-order-item-row").each(function (index) {
                    var secondId = this.childNodes[1].childNodes[1].value;

                    if (currentId == secondId) {
                        //do nothing
                    }
                    else {
                        currentId = secondId;
                        return false;
                    }

                });
                if ($(".purchase-order-item-row").length == 1 && (currentId == undefined || currentId == "")) {
                    console.log("set time out called, curretn Id:" + currentId)
                    $("#btnAddNewItem").attr("disabled", true)
                }

                console.log("row length " + $(".purchase-order-item-row").length)
                console.log("row length " + $(".purchase-order-item-row").length)

            }

            $(ths).closest("tr.purchase-order-item-row").remove();
            debugger

            if ($(".purchase-order-item-row").length > 1) {
                //$("#removeItem").hide();
                $(ths).closest("tr.purchase-order-item-row").remove();

            } else {
                $(Lastref).attr("disabled", false);
                $(".remove-item").hide();
            }
            if ($(".purchase-order-item-row").length == 1 && currentId != undefined) {

                $(".purchase-order-item-row").each(function (index) {
                    this.remove();

                });

                usedItems = [];
                addNewItem(currentId);
                var select = $($('#tblPurchaseOrder tr')[$('#tblPurchaseOrder tr').length - 1]).children('td:first').find('select')

                var selectedRow = $(select).closest("tr.purchase-order-item-row");
                $(selectedRow).find("#Price").val($(select).find('option:selected').attr('data-price'));
                $(selectedRow).find("#SKU").val($(select).find('option:selected').attr('data-sku'));
                $(selectedRow).find("#Weight").val($(select).find('option:selected').attr('data-weight'));
            }
            if ($(".purchase-order-item-row").length > 1 && currentId == undefined) {
                debugger
                var values = {}
                var select = $(ths.parentElement.parentElement).find('select');
                $.each(select.prop("options"), function (i, opt) {
                    if (opt.value != "") {
                        const index = usedItems.indexOf(opt.value);
                        usedItems.splice(index, 1);
                    }
                })
                $(ths).closest("tr.purchase-order-item-row").remove();
            }
            else {

                $(".purchase-order-item-row").each(function (index) {
                    ItemId = $(this).find("select#ItemId option:selected").val();
                    if (itemId == currentId) {

                        var item = {};
                        item.ItemId = $(this).find("select#ItemId option:selected").val();
                        item.Name = $(this).find("select#ItemId option:selected").attr('data-name');
                        item.Price = $(this).find("input#Price").val();
                        item.Quantity = $(this).find("input#Quantity").val();
                        item.SKU = $(this).find("input#SKU").val();
                        item.Weight = $(this).find("input#Weight").val();

                        item.DeliveryServiceId = $(this).find("select#DeliveryServiceId option:selected").val();
                        var service = $(this).find("select#DeliveryServiceId option:selected").text();
                        service = service.replace("\n", "").replace("\n", "").trim()
                        item.DeliveryServicename = service;
                    }
                    if ($('#tblPurchaseOrder tr').length == index) {

                    }
                });
            }
        }
        function validateForm() {
            var form = $("#frmCreate");
            form.validate();
            if (!form.valid()) {
                $("#frmCreate").submit();
                return false;
            }
            else { return true }
        }
        function ValidateGrid() {
            debugger
            var valid = true;
            $(".purchase-order-item-row").each(function (index) {
                if (($(this).find("#Quantity").val() == '' || $(this).find("#Quantity").val() ==undefined || $(this).find("#Quantity").val() <= 0) &&
                    $(this).find("select#ItemId option:selected").val() != undefined) {
                    $(this).find("#spQuantity").removeClass("hide");
                    valid = false;
                    // if ($(this).find("select#DeliveryServiceId option:selected").val() == '' &&
                    //     $(this).find("select#ItemId option:selected").val() != '') {

                    //     $(this).find("#spService").removeClass("hide");
                    // }

                }
            });
            return valid;
        }
       function ValidateAndSubmit(){
           debugger;
            //to validate there shuld be at least one item
            if (($('#tblPurchaseOrder tr').length == 2) && ($('#tblPurchaseOrder tr').find("select#ItemId option:selected").val() == '')) {
                return false;
            }
           var isValid = true;//validateForm();
           var createPurchaseOrderRequest = {};
           createPurchaseOrderRequest.PurchaseOrderDate = $('#PurchaseOrderDate').val();
           createPurchaseOrderRequest.ExpectedDeliveryDate = $('#ExpectedDeliveryDate').val();
           createPurchaseOrderRequest.ReferenceNumberInternal = $('#ReferenceNumberInternal').val();
            createPurchaseOrderRequest.ReferenceNumberExternal = $('#ReferenceNumberExternal').val();

           var itemList = [];
           $("tr.purchase-order-item-row").each(function(index) {
               debugger
               var item = {};
               item.ItemId = $(this).find("select#ItemId option:selected").val();
               item.Name = $(this).find("select#ItemId option:selected").attr('data-name');
               item.Price = $(this).find("input#Price").val();
               item.Quantity = $(this).find("input#Quantity").val();
               // if (item.ItemId == 0)
               // {
               //     $(this).find("select#Id").focus();
               //     COMMON.Alert('ViewsHTMLLocalizer["Mandatory"]', 'ViewsHTMLLocalizer["PleaseSelectItem"]');
               //     isValid = false;
               //     return false;
               // }
               // if (item.Quantity == "0" || item.Quantity == "")
               // {
               //     $(this).find("input#Quantity").focus();
               //     COMMON.Alert('ViewsHTMLLocalizer["Mandatory"]', 'ViewsHTMLLocalizer["QuantityMandatory"]');
               //     isValid = false;
               //     return false;
               // }
               itemList.push(item)
           });

           createPurchaseOrderRequest.Items = itemList;
            if (ValidateGrid()) {
            var htmlResponse = null;
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "PurchaseOrder")',
                data: {createPurchaseOrderRequest: createPurchaseOrderRequest},
                success: function (response) {
                    console.log(response);
                    if (response == 1 ) {
                            COMMON.AlertAndRedirect('Successful', 'Purchase Order Created Successfully', 'success', '/PurchaseOrder');
                    }
                    else {
                        COMMON.Alert('PermissionDenied', 'Purchase Order not Created');
                    }
                    //document.getElementById('frmCreate').reset();
                    //hideSpinner();
                },
                error: function (xhr, status, error) {
                    htmlResponse = null;
                    //hideSpinner();
                }
            });
         }
       }
    </script>
}